@charset "UTF-8";

.indexBody {
	color: orange !important;
	margin-left: 20px !important;
	font-weight: bold !important; font-family : Arial Black !important;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: Arial Black !important;
}

.playerBody {
	color: black !important;
	margin-left: 20px !important;
	font-weight: bold !important; font-family : Arial Black !important;
	text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

.createBody {
	color: black !important;
	margin-left: 20px !important;
	font-weight: bold !important;
	text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
}

body {
	background-color: #DCDCDC !important;
}

.meTables {
	color: black !important ;
	border: 1px solid black !important;
	border-collapse: collapse !important;
	padding: 15px !important;
	text-align: center !important;
}

.oof{
	color: #303030 !important;
}
.listTitle{
	color: black !important;
}

